body,html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f5ef;
	font-family: 'Exo 2', sans-serif;
}

footer {
	width: 100%;
	height: 155px;
	background-color: #89bdd3;
}

img.icon {
	width: 50px;
	height: 50px;
}

table.current {
	width: 100%;
	table-layout: fixed;
}

h2#city, h3#country, h2#day {
	margin: 0;
	padding: 0;
}

h3#weatherValue, h3#forecastWeatherValue {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
}

h2#min, h2#max, h2#min2, h2#max2, h2#min3, h2#max3, h2#min4, h2#max4, h2#min5, h2#max5 {
	display: inline-block;
	margin-right: 10px;
}

@media screen and (max-width: 320px) { /* small phones */
	ul#navbar {
		margin: 0;
		padding: 0;
		text-align: center;
		list-style: none;
		-webkit-box-shadow: 1px 1px 5px;
		-moz-box-shadow: 1px 1px 5px;
		box-shadow: 1px 1px 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width: 100%;
		background-color: #3b3a36;
		color: white;
		cursor: default;
	}
	
	li.navbar { /* navbar items */
		border-bottom: solid lightgrey;
		background-color: #3b3a36;
		font-weight: bold;
	}
	
	li#logo {
		display: inline-block;
	}
	
	img#logo {
		width: 40px;
	}
	
	a#logo {
		color: white;
		text-decoration: none;
	}
	
	h1 {
		text-align: center;
	}
	
	tr {
		width: 20%;
	}
	
	div#celsius, div#fahrenheit{
		display: inline-block;
		cursor: pointer;
	}
	
	div#stick {
		display: inline-block;
	}
	
	div#celsius:hover, div#fahrenheit:hover {
		color: #89bdd3;
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

}
@media screen and (min-width: 321px) and (max-width: 767px) { /* decent sized phones */
	ul#navbar {
		margin: 0;
		padding: 0;
		text-align: center;
		list-style: none;
		-webkit-box-shadow: 1px 1px 5px;
		-moz-box-shadow: 1px 1px 5px;
		box-shadow: 1px 1px 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width: 100%;
		background-color: #3b3a36;
		color: white;
		cursor: default;
	}
	
	li.navbar { /* navbar items */
		border-bottom: solid lightgrey;
		background-color: #3b3a36;
		font-weight: bold;
	}
	
	li#logo {
		display: inline-block;
	}
	
	img#logo {
		width: 40px;
	}
	
	a#logo {
		color: white;
		text-decoration: none;
	}
	
	h1 {
		text-align: center;
	}
	
	tr {
		width: 20%;
	}
	
	div#celsius, div#fahrenheit{
		display: inline-block;
		cursor: pointer;
	}
	
	div#stick {
		display: inline-block;
	}
	
	div#celsius:hover, div#fahrenheit:hover {
		color: #89bdd3;
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	
	article {
		width: 80%;
		margin: auto;
		background-color: white;
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;
		padding: 20px 20px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) { /* tablets */
	ul#navbar {
		margin: 0;
		padding: 0;
		text-align: center;
		list-style: none;
		-webkit-box-shadow: 1px 1px 5px;
		-moz-box-shadow: 1px 1px 5px;
		box-shadow: 1px 1px 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width: 100%;
		background-color: #3b3a36;
		color: white;
		cursor: default;
	}
	
	li.navbar { /* navbar items */
		border-bottom: solid lightgrey;
		background-color: #3b3a36;
		font-weight: bold;
	}
	
	li#logo {
		display: inline-block;
	}
	
	img#logo {
		width: 40px;
	}
	
	a#logo {
		color: white;
		text-decoration: none;
	}
	
	h1 {
		text-align: center;
	}
	
	tr {
		width: 20%;
	}
	
	div#celsius, div#fahrenheit{
		display: inline-block;
		cursor: pointer;
	}
	
	div#stick {
		display: inline-block;
	}
	
	div#celsius:hover, div#fahrenheit:hover {
		color: #89bdd3;
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	
	section.location {
		display: inline-block;
	}
	
	section.time {
		display: inline-block;
		float: right;
		position: relative;
		font-size: 250%;
		bottom: 30px;
		right: 30px;
	}
	
	article {
		width: 60%;
		margin: auto;
		background-color: white;
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;
		padding: 20px 20px;
	}
	
}
@media screen and (min-width: 1200px) { /* desktops */

	ul#navbar {
		display: inline-block;
		margin: 0;
		padding: 0;
		text-align: right;
		list-style: none;
		width: 100%;
		background-color: #3b3a36;
		color: white;
	}
	
	li.navbar { /* navbar items */
		display: inline-block;
		padding: 20px 0;
		cursor: default;
	}
	
	li#logo {
		display: inline-block;
		vertical-align: bottom;
		float: left;
		font-size: 300%; 
		cursor: default;
	}
	
	img#logo {
		display: inline-block;
		margin-left: 10px;
		border-radius: 100px;
		width: 40px;
	}
	
	h1 {
		text-align: center;
	}
	
	h2#temperature {
		display: inline-block;
	}
	
	div#celsius, div#fahrenheit{
		display: inline-block;
		font-size: 150%;
		margin: 0 5px;
		cursor: pointer;
	}
	
	div#humidity, div#sunrise, div#sunset, div#forecastHumidity, div#forecastHumidity2, div#forecastHumidity3, div#forecastHumidity4, div#forecastHumidity5{
		font-size: 150%;
	}
	
	div#stick {
		display: inline-block;
		font-size: 150%;
		margin: 0 5px;
	}
	
	div#celsius:hover, div#fahrenheit:hover {
		color: #89bdd3;
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	
	article {
		width: 50%;
		margin: auto;
		background-color: white;
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;
		padding: 20px 20px;
	}
	
	div#name, div#speed, div#forecastName, div#forecastSpeed, div#forecastName2, div#forecastSpeed2, div#forecastName3, div#forecastSpeed3, div#forecastName4, div#forecastSpeed4, div#forecastName5, div#forecastSpeed5 {
		font-size: 125%;
	}
	
	tr {
		width: 20%;
	}
	
	section.location {
		display: inline-block;
	}
	
	section.time {
		display: inline-block;
		float: right;
		position: relative;
		right: 100px;
		bottom: 10px;
	}
	
	h1#time {
		font-size: 500%;
		margin: 0;
	}
}