body,html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f5ef;
}

footer {
	width: 100%;
	height: 155px;
	background-color: #89bdd3;
}

@media screen and (max-width: 320px) { /* small phones */
	
}
@media screen and (min-width: 321px) and (max-width: 767px) { /* decent sized phones */
	
}

@media screen and (min-width: 768px) and (max-width: 1199) { /* tablets */
	
}
@media screen and (min-width: 1200px) { /* desktops */

	ul#navbar {
		display: inline-block;
		margin: 0;
		padding: 0;
		text-align: right;
		list-style: none;
		width: 100%;
		background-color: #3b3a36;
	}
	
	a.navbar {
		text-decoration: none;
		color: #89bdd3;
		font-weight: bold;
		padding: 20px;
	}
	
	li.navbar { /* navbar items */
		display: inline-block;
		padding: 20px 0;
	}
	
	li#logo {
		display: inline-block;
		vertical-align: bottom;
		float: left;
		font-size: 300%; 
	}
	
	img#logo {
		display: inline-block;
		margin-left: 10px;
		border-radius: 100px;
		width: 40px;
	}
	
	a#logo {
		color: white;
		text-decoration: none;
		font-family: 'Exo 2', sans-serif;
	}
	
	a.navbar:hover { /* navbar items */
		background-color: #005c99;
		color: #e3e3e3;
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	
	h1 {
		text-align: center;
		font-family: 'Exo 2', sans-serif;
	}
}